@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes translateIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(102, 90, 214);
  height: 100vh;
  width: 100%;
  color: #fff;
}
.btl-plus {
  font-size: 50px;
}
.overplay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 350px;
  height: 400px;
  background-color: #663399;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  padding-top: 20px;
  position: relative;
}
.list-tasks {
  width: 30%;
  height: 55%;
  background-color: #fff;
  overflow-y: auto;
  border-radius: 5px;
  padding: 20px 50px;
  box-shadow: inset 4px 4px 20px rgba(0, 0, 0, 0.426);
}
.task.removing {
  animation: zoomOut 0.3s ease-in-out forwards;
}
.task {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  animation: zoomIn 0.3s ease-in-out;
  cursor: pointer;
}
.task-wrapper {
  display: flex;
  color: #000;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 5px;
  height: 50px;
  transition: all 0.2s ease;
  &:hover {
    background-color: rgba(76, 216, 255, 0.374);
  }
}
.task-wrapper.selected {
  background-color: rgba(76, 216, 255, 0.374);
}
.name-task {
  background-color: #fff;
  flex: 1;
  display: inline;
  white-space: normal;
  word-break: break-word;
  background: linear-gradient(to right, #000000 100%, transparent 0) no-repeat;
  background-size: 0% 2px;
  background-position: 0 center;
  transition: background-size 0.2s ease-in-out;
  border-radius: 3px;
  padding: 5px 0;
  height: 100%;
}

.name-task.completed {
  background-size: 100% 2px;
  color: rgba(0, 0, 0, 0.4);
}

.icon-complete {
  font-size: 25px;
  position: relative;
  display: flex;
  align-items: center;
}
.check {
  position: absolute;
  left: 0;
  transform: scale(0);
  transition: all 0.2s ease;
}
.checked .check {
  transform: scale(1);
}

.form-input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 90%;
  position: relative;
}
.input {
  flex: 1;
  height: 40px;
  padding-left: 10px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.clear-icon {
  position: absolute;
  right: 120px; // điều chỉnh nếu cần (tuỳ chiều dài của button)
  cursor: pointer;
  color: #999;
  font-weight: bold;
  z-index: 2;
}

.btn-add {
  height: 40px;
  padding: 0 12px;
  border: none;
  border-radius: 3px;
  background-color: rgba(248, 60, 8, 0.8);
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.05);
  }
}
.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 0, 0);
  height: 50px;
  margin-top: 10px;
  border-radius: 3px;
  animation: translateIn 0.3s ease-in-out;
}
.btn-wrapper button {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
  border-radius: 3px;
  border: none;
  padding: 5px 0;
  background-color: #52aef5d8;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    opacity: 0.8;
  }
}
.demo_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: rgb(144, 119, 118);
}
